<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="asset/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <section>
            <div class="first">
                <div class="one">
                    <h1>We work in dedicated project teams,UX design</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="pink1"></div>
                            <div class="card-title">
                                <div class="icon1"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
                                <h3>Research user needs</h3>
                                <h4>Discover pain points and understand user behaviour.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="blue"></div>
                            <div class="card-title">
                                <div class="icon2"><i class="fa-solid fa-lightbulb"></i></div>
                                <h3>Prototype an idea</h3>
                                <h4>Validate ideas with an interactive prototype of your vision.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="green"></div>
                            <div class="card-title">
                                <div class="icon3"><i class="fa-solid fa-wand-magic-sparkles"></i></div>
                                <h3>Design a new product</h3>
                                <h4>Launch an MVP with a best in class user experience.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="yellow"></div>
                            <div class="card-title">
                                <div class="icon4"><i class="fa-solid fa-list-check"></i></div>
                                <h3>Improve a product</h3>
                                <h4>Become a category leader using designops and UX/UI design.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="violet"></div>
                            <div class="card-title">
                                <div class="icon5"><i class="fa-solid fa-bullhorn"></i></div>
                                <h3>Build Marketing Plan</h3>
                                <h4>Easiest way to manage your projects and tasks.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="pink2"></div>
                            <div class="card-title">
                                <div class="icon6"><i class="fa-solid fa-phone-volume"></i></div>
                                <h3>24/7 Support</h3>
                                <h4>Amet porttitor eget dolor morbi non.Facilisis est velit egestas.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button>CONTACT US</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>