body {
    font-family: Arial, sans-serif;
}

.flex{
    background-color: rgba(173, 216, 230, 0.174);
    border: 2px solid blueviolet;
    border-radius: 18px;
    width: 400px;
    text-align: center;
    margin: 100px auto;
    padding: 50px 0;
}

h1{
    color: palevioletred;
    margin-top: 0;
}

.timer {
    font-size: 2em;
    margin: 20px;
}

button,.timer{
    color: blue;
}

button {
    cursor: pointer;
    border-radius: 18px;
    width: 100px ;
    border: 1px solid blueviolet;
    background-color: rgba(255, 182, 193, 0.454);
    font-size: 1em;
    margin: 5px;
    padding: 10px;
}