body,button,li:hover{
    background-color: #ffc0b6;
}

.container{
    background-color: #fffaf7;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px 20px;
    border: 2px solid black;
    border-radius: 19px;
}

.heart{
    display: flex;
    justify-content: center;
    color: #54170e;
    gap: 8px;
}

i{
    font-size: 25px;
}

h1{
    cursor: default;
}

li{
    position: relative;
    margin-bottom: 10px;
    padding: 10px 18px 10px 50px;
    border-radius: 15px;
    background-color: #f9d0c8;
    list-style-type: none;
}

button,input{
    padding: 15px 20px;
    border-radius: 22px;
    font-size: 16px;
}

button,input,li,h1{
    font-family: cursive;
}

button,h1,li{
    color: #54170e;
    font-weight: 400;
}

input{
    background-color: #fbf1e3;
    width: 530px;
    margin: 20px 20px 20px 0;
}

::placeholder{
    font-weight: 600;
    color: #ffaf9e;
}

button,input,li{
    cursor: pointer;
}

.container{
    border: 2px solid #54170e;
}

input,button{
    border: 1px solid #54170e;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    left: 20px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 19px;
    width: 8px;
}

ul li.checked::before,.close,input{
    color: #54170e;
}

.close {
    position: absolute;
    right: 20px;
    bottom: 0.3px;
    font-size: 25px;
    padding: 3.4px 20px;
}

.close:hover{
    background-color: #ff9c82;
}